@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.form__item {
    &.form__input_filter {
        input {
            font-size: variables.$font-size-default;
            padding: 0px 0px 0px 8px;
            border: none;

            &:focus {
                border: none;
            }
        }
    }

    &.form-item_required {
        label, .table__item-content_title, .form-item__title, .details__label, .select__label {
            display: flex;
            align-items: center;

            &::after {
                content: url('/icons/new/require.svg');
                bottom: 5px;
                position: relative;
                color: variables.$color-red;
            }
        }
    }
}

.form-item_filterable {
    width: 100%;
}