.card {
	border-radius: 25px;
	padding: 45px 0 70px 64px;
	overflow: hidden;
	@media (max-width: 960px) {
		padding: 30px 20px 40px 20px;
	}
	&__text {
		max-width: 595px;
		position: relative;
		z-index: 1;
		font-size: 21px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__img {
		max-width: 660px;
		width: 100%;
		right: 0;
		height: 100%;
		left: unset;
		object-fit: inherit;
		@media (max-width: 1280px) {
			margin-right: -200px;
		}
		@media (max-width: 960px) {
			display: none;

			// opacity: 0.5;
		}
		@media (max-width: 960px) {
			display: none;
		}
	}
}
