.card {
	border-radius: 25px;
	padding: 35px;
	overflow: hidden;
	// min-height: 178px;
	@media (max-width: 960px) {
		padding: 20px;
	}
	&__text {
		max-width: 595px;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (max-width: 960px) {
			max-width: 100%;
		}
	}
	&__img {
		position: absolute;
		max-width: 550px;
		right: 0;
		left: unset;
		@media (max-width: 1280px) {
			margin-right: -100px;
		}
		@media (max-width: 960px) {
			display: none;

			// opacity: 0.5;
		}
		@media (max-width: 960px) {
			display: none;
		}
	}
	.fines__fansy-box {
		display: inline-block;
		margin-top: 10px;
	}
	.fines__button {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 5px;
		background: #fff;
		border: 1px solid #2f8cff;

		:deep(span) {
			display: flex;
			align-items: center;
			gap: 5px;
			white-space: nowrap;
		}

		.button-text {
			color: #1253a2;
		}

		.fines__icon {
			width: 32px;
			height: 24px;

			img {
				object-fit: contain;
			}
		}
	}
}
