.wrap {
	background-color: #f7f8fa;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.3s;
	.active-bg {
		background-color: #fffbe2 !important;
	}
	&__wrap {
		z-index: 0;
		display: flex;
		flex-direction: column;
		gap: 25px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: -25px;
			right: -25px;
			top: -12.5px;
			bottom: -12.5px;
			background-color: transparent;
			z-index: -1;
			transition: 0.3s;
		}
		&.active-bg::before {
			background-color: #fffbe2 !important;
		}
	}
	&__text {
		padding: 35px 25px;
		transition: 0.3s;

		display: flex;
		flex-direction: column;
		gap: 25px;
		& .bold {
			font-weight: 600;
		}

		& p {
			line-height: 1.2;
		}

		& h2 {
			font-size: 31px;
			color: #1253a2;
		}
		h3 {
			font-size: 26px;
			color: #1253a2;
		}
		ul {
			list-style: none;
			padding-left: 0;
			li {
				text-indent: 12px;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 9px;
					left: 0;
					width: 7px;
					height: 2px;
					background-color: #000;
				}
			}
		}
		& .table {
			overflow: auto;
			table {
				border-collapse: collapse;
			}
			table {
				@media (max-width: 1024px) {
					min-width: 660px;
				}
			}
		}
		& .table-swipe {
			@media (max-width: 768px) {
				&::before {
					content: "";
					display: block;
					width: 100%;
					height: 75px;
					background-image: url("/public/icons/swipe.svg");
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		th,
		td {
			height: calc(4px * 2 + 1.5em);
			min-width: calc(8px * 2);
			padding: 4px 8px;
			border: 1px solid #e7eaec;
		}
	}
	&__image {
		max-height: 206px;
		height: 100%;
		min-width: 962px;
	}
}
