@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.total {
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px 20px 20px 0px;
    position: sticky;
    left: 0px;
    width: var(--sectionWidth);
}

.total__list {
    background-color: variables.$color-pale-grey;
    border: 1px solid variables.$color-light-grey;
    border-radius: 5px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px 15px 15px;
}

.total__item {
    display: flex;
    justify-content: space-between;
}

.total__value {
    font-weight: 600;
}