@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.total {
    gap: 40px;
    display: flex;
}

.total__list {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total__item {
    display: flex;
    gap: 15px;
}

.total__value {
    font-weight: 600;
}

@media (max-width: 1120px) {
    .total {
        flex-direction: column;
        gap: 20px;
    }
}