.item {
	padding: 15px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	border: solid 1px #eeeff1;
	background-color: #fbfcfd;
	max-width: 270px;
	min-height: 108px;
	gap: 10px;
	cursor: pointer;
	@media (max-width: 1024px) {
		max-width: 100%;
	}
	&:hover {
		border-color: #2f8cff;
		box-shadow: 0 0 3px 0 #1253a2, inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease-in-out;
	}
	&__image {
		max-height: 78px;
		max-width: 78px;
		width: 100%;
	}
	&__title {
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	&__desc {
		color: #8f8f8f;
		font-size: 16px;
	}
}
