@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.programm {
	padding: 42px 0 !important;
	position: relative;
	z-index: 1;
	.programm__link {
		display: inline-block;
	}

	.section__image {
		right: -25px;
		top: -50px;
	}

	.section__content {
		max-width: calc(100% - 150px);
	}

	.section__info {
		max-width: calc(100% - 420px);
	}

	button {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 15px 20px;

		&::after {
			content: url("/icons/arrow-right.svg");
			height: 14px;
			transition: 0.4s all;
			display: flex;
			align-items: center;
		}

		&:hover {
			&::after {
				transform: translateX(5px);
			}
		}
	}
}
.programm__title {
	line-height: 1;
	color: variables.$color-light-black;
	margin-bottom: 15px;
	font-size: 31px;
}

.programm__desc {
	line-height: 1;
	margin-bottom: 45px;
	max-width: 858px;
}

.programm__left {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.programm__advantages {
	display: flex;
	flex-direction: column;
	gap: 15px;
	&-wrapper {
		display: flex;
		justify-content: space-between;
	}
}

.programm__advantage {
	display: flex;
	align-items: center;
	gap: 15px;
	&-text {
		line-height: 1;
	}
}

.programm__checkmark {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	min-height: 20px;
	border-radius: 5px;
	&-image {
		width: 13px;
		height: 8.5px;
	}
}

.programm__image {
	margin-top: -30px;
	@include mixins.elemResolutionOptions(630px, 425px);
}

@media (max-width: 1080px) {
	.programm__image {
		@include mixins.elemResolutionOptions(540px, 375px);
	}

	.programm {
		.section__image {
			top: 0px;
			margin-top: 0;
		}

		.section__content {
			max-width: none;
		}

		.section__info {
			max-width: calc(100% - 500px);
		}
	}
}

@media (max-width: 1010px) {
	.programm__image {
		display: none;
	}

	.programm {
		.section__info {
			max-width: none;
		}
	}
}
