@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.nav {
	border-radius: 10px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
	border: solid 1px #eeeff1;
	background-color: #fff;
	height: max-content;
	padding-bottom: 15px;
	&__header {
		font-weight: 600;
		padding: 10px 20px;
		border-bottom: 1px solid #e2e5e9;
		font-size: 14px;
	}
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		padding: 10px 10px 10px 33px;
		position: relative;
		cursor: pointer;
		font-size: 14px;
		position: relative;
		user-select: none;
		transition: 0.2s;
		&:hover {
			background: variables.$color-hover;
		}
		&-triangle {
			position: absolute;
			left: 5px;
			padding: 10px;
			box-sizing: content-box;
			top: 50%;
			transform: translateY(-50%);
		}
		&_main {
			padding-left: 15px;
		}
		&_child {
			padding-left: 50px;
		}
		&_active {
			background: variables.$color-hover;
		}
	}
}
