@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.personal-docs {
	display: grid;
	grid-gap: 0px 25px;
	grid-template-columns: 1fr 270px;
	margin-bottom: 100px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	// .breadcrambs {
	// 	grid-column: 1/3;
	// 	@media (max-width: 768px) {
	// 		grid-column: 1/2;
	// 	}
	// }
}

.personal-docs__title {
	grid-column: 1/2;
	margin-bottom: 20px;
}

.personal-docs__header {
	grid-column: 1/2;
	display: flex;
	justify-content: space-between;
}

.personal-docs__content {
	grid-column: 1/2;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 20px 0px 25px;
	}

	p {
		margin-bottom: 15px;
	}

	ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 20px 0px;
	}
}

.personal-docs__nav {
	border-radius: 10px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
	border: solid 1px #eeeff1;
	background-color: #fff;
	height: max-content;
	padding-bottom: 25px;
	grid-row: 1 / 5;
	grid-column: 2 / 3;

	@media (max-width: 768px) {
		grid-column: 1/2;
		grid-row: 2 / 5;
		margin-bottom: 20px;
	}

	&.docs-nav_fixed {
		position: fixed;
		top: 20px;
		left: var(--contentPos);
		width: 270px;
	}
}

.docs-nav__header {
	font-weight: 600;
	padding: 10px 20px;
	border-bottom: 1px solid #e2e5e9;
}
.docs-nav__list {
	display: flex;
	flex-direction: column;
}
.docs-nav__item {
	padding: 10px 15px;
	position: relative;

	&.docs-nav__item_H2 {
		padding-left: 40px;
	}

	&.docs-nav__item_H3,
	&.docs-nav__item_H4,
	&.docs-nav__item_H5,
	&.docs-nav__item_H6 {
		padding-left: 80px;
	}

	&.docs-nav__item_active {
		background: variables.$color-hover;
	}

	&.docs-nav__item_scrolled {
		&::before {
			content: "";
			height: 100%;
			background: variables.$color-blue;
			width: 2px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}

	&:hover {
		background: variables.$color-hover;
	}
}
