.article {
	display: flex;
	gap: 15px;
	width: 100%;

	& .fines {
		background-color: #f7f8fa;
		padding-left: 25px;
		transition: 0.3s;
		@media (max-width: 1120px) {
			padding-right: 25px;
		}
		&__title {
			word-break: break-word;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
	}
	&__wrapper {
		width: 100%;
	}

	&__right {
		min-width: 263px;
		@media (max-width: 768px) {
			order: -1;
		}
	}
	&__left {
		width: calc(100% - 263px - 15px);
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__content {
		grid-column: 1;
		display: flex;
		flex-direction: column;
		padding-top: 35px;
		gap: 35px;
	}

	&__social {
		margin-top: 85px;
	}
}
