@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.auth__account {
	background: #fbfcfd;
	border: 1px solid #eeeff1;
	border-radius: 10px;
	padding: 15px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1;
	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&-exit {
		height: 15px;
		box-sizing: content-box;
		padding: 7px;
		cursor: pointer;
		&:hover g {
			fill: #1253a2;
			stroke: #1253a2;
		}
	}
	&-title {
		font-size: 12px;
		color: #bcbcbc;
	}
}
