.header {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	max-height: 290px;
	&__top {
		height: 100%;
		padding: 35px 25px;
		position: relative;
		z-index: 1;
		min-height: 220px;
	}
	&__bottom {
		padding: 15px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	&__image {
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	&__title {
		max-width: 560px;
		font-size: 36px;
		line-height: 1.05;
		color: #fff;
	}
	&__author {
		display: flex;
		gap: 10px;
		align-items: center;
		&-avatar {
			max-width: 34px;
			min-width: 34px;
			max-height: 34px;
			min-height: 34px;
			border-radius: 50%;
		}
		&-name {
			font-size: 16px;
			color: #1253a2;
			line-height: 1;
			margin-bottom: 5px;
		}
		&-desc {
			font-size: 12px;
			color: #8f8f8f;
			line-height: 1;
		}
	}
	&__date {
		margin-bottom: 5px;
	}
}
