@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.form-item__value {
	&.form-item__value_empty {
		color: variables.$color-grey;

		&::before {
			content: "не заполнено";
		}
	}
	&.form-item__value_unsuccess {
		width: 20px;
	}

	&.form-item__value_html {
		white-space: break-spaces;
		word-break: auto-phrase;

		.table__cell-group {
			display: flex;
			flex-direction: column;
			margin-left: -6px;

			.table-cell__desc {
				color: #383838;
				font-size: 12px;
				font-weight: 400;
				margin-left: 6px;
			}
		}
	}

	&.form-item__value_link {
		cursor: pointer;
		text-decoration: underline;
		color: variables.$color-blue;

		&:hover {
			text-decoration: none;
		}
	}

	&.form-item__value_substring {
		display: flex;
		align-items: center;
		gap: 5px;

		.form-item__substring {
			position: static;
		}
	}
}
