@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.h1_mobileMenu {
	line-height: 1;
	gap: 10px;
	font-size: variables.$font-size-h1;
	display: flex;
	width: 100%;
	text-align: left;

	&_center {
		&__text {
			margin: 0 auto;
		}
	}

	.menu {
		&.menu_mobile {
			position: relative;
			top: 0.33em;
			left: 0;
			bottom: unset;
		}
	}
}
