@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.h1_mobileMenu {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: variables.$font-size-h1;

	.menu {
		&.menu_mobile {
			position: static;
		}
	}
}
