@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.menu {
	&.menu_mobile {
		display: none;
		z-index: 10000;
		// position: absolute;
		// @include mixins.elemPositionOptions(57px, 15px);

		.menu__line {
			height: 1px;
			margin-bottom: 10px;
			margin-top: 5px;
			background-color: #2c3d51;
			border-radius: 5px;
		}

		.menu__content {
			width: 100%;
			height: 100vh;
			position: fixed;
			z-index: 10000;
			padding: 15px 10px;
			overflow: auto;
			background: variables.$color-white;
			@include mixins.elemPositionOptions(0px, 0px);
		}

		.icon__arrow {
			transform: rotate(180deg);
			@include mixins.flexBlock($vertical: center);

			svg {
				@include mixins.elemResolutionOptions(10px, 21px);

				* {
					fill: variables.$color-blue-grey;
				}
			}
		}

		.menu_other {
			@include mixins.flexBlock($horizontal: space-between);

			.icon__arrow {
				transform: rotate(0deg);

				svg {
					@include mixins.elemResolutionOptions(6px, 10px);

					* {
						fill: variables.$color-black;
					}
				}
			}
		}

		.menu__gamburger {
			display: flex;
			svg {
				@include mixins.elemResolutionOptions(15px, 15px);
			}
		}

		.menu__nav-back {
			cursor: pointer;
			margin-bottom: 25px;
			@include mixins.flexBlock($vertical: center, $gap: 15px);
		}

		.menu__list {
			display: flex;
			flex-direction: column;
		}

		.menu__item {
			padding: 15px;
			font-weight: 600;
			border-radius: 5px;
			margin-bottom: 5px;
			font-size: variables.$font-size-default;
			background-color: variables.$color-pale-grey;
			border: 1px solid variables.$color-light-grey;
			display: flex;
			justify-content: space-between;
			align-items: center;
			will-change: border;
			cursor: pointer;

			& .icon__arrow {
				transform: rotate(0deg);
			}

			&:active,
			&.menu__item_active {
				filter: none;
				cursor: pointer;
				border: 1px solid variables.$color-orange !important;
			}

			&.menu__item_red {
				color: variables.$color-red;
			}

			&.menu__item_btn-logout {
				text-align: left;
				font-family: Verdana, sans-serif;
			}
		}

		.menu-user {
			@include mixins.flexBlock($vertical: center, $gap: 15px);
		}

		.menu-user__icon {
			overflow: hidden;
			border-radius: 50%;
			@include mixins.elemResolutionOptions(30px, 30px);
		}
	}
}

@media (max-width: 700px) {
	.menu {
		&.menu_mobile {
			display: block !important;
		}
	}
}
