@use "@/assets/variables.scss" as variables;

.menu__list {
	& .popup__content {
		top: unset;
		bottom: -25px;
		transform: translateY(100%);
		color: #161616;
		font-weight: 400;
		font-size: 14px;
		max-height: unset;
	}
	& .popup__option {
		padding: 10px;
		font-size: 16px;
		&_active {
			&::after {
				display: none;
			}
		}
	}
	& .tabs__item svg * {
		fill: #fd8301 !important;
	}
	& .tabs__item svg * {
		fill: #fd8301 !important;
	}
	& .tabs__item {
		color: #dedede !important;
		font-weight: 300;
		&-text {
			position: relative;
			&:hover {
				&::after {
					content: "";
					width: 100%;
					position: absolute;
					height: 1px;
					left: 0px;
					background: variables.$color-orange;
					bottom: -3px;
				}
			}
		}
		&_active .tabs__item-text {
			color: #fd8301;
		}
	}
	& .popup__tabs {
		margin-right: 0;
	}
}

.menu__triangle {
	&-wrapper {
		display: flex;
		gap: 5px;
	}
}
