@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__body {
    .table__row {
        &:last-child {
            .table__item {
                &.sortable-ghost {
                    border-radius: 0px 0px 5px 5px;
                    border-bottom: 2px dashed variables.$color-blue-grey;
                }
            }
        }

        &:nth-child(even) {
            background: variables.$color-light-blue;
            
            .table__item {
                background: variables.$color-light-blue;

                &::before {
                    background: variables.$color-light-blue;
                }
            }
        }

        &.table__row_updated {
            background: #fffbe2;
            
            .table__item {
                background: #fffbe2;

                &.table__item_sticky {
                    background: #fffbe2 !important;
                }

                &::before {
                    background: #fffbe2;
                }
            }
        }
    
        &.table__row_choosed {
            background: #eef3f8;
    
            .table__item {
                background: #eef3f8;

                &::before {
                    background: #eef3f8;
                }

                &.table__item_sticky {
                    background: #eef3f8 !important;
                }
            }
        }
    
        &.table__row_edit {
            background: #d9e4f0;
    
            .table__item {
                background: #d9e4f0;

                .table-item__content {
                    padding: 10px;
                }

                &::before {
                    background: #d9e4f0;
                }

                &.table__item_sticky {
                    background: #d9e4f0 !important;
                }

                .table-item__content {
                    .form-item__relation {
                        .relation__item {
                            &.relation__item_empty:not(.relation__item_hidden) {
                                display: block;

                                .popup {
                                    pointer-events: auto;
                                }
                            }
                        }
        
                        .relation__actions {
                            display: flex;
                        }
                    }
        
                    .form-item__checkbox {
                        &.form-item__checkbox_disabled {
                            .form-item__title {
                                filter: opacity(1);    
                            }
                        }
                    }
                }

                &.table__item_clicked {
                    z-index: 35;
                    overflow: visible;

                    .status {
                        .popup__summary {
                            max-width: var(--defaultWidth);
                            overflow: hidden;

                            .status-option__rect {
                                min-width: 36px;
                            }
                        }
                    }
                }
            }
        }
    
        &.table__row_disabled {
            background: #f5f5f7;
            .table__item {
                background: #f5f5f7;

                &::before {
                    background: #f5f5f7;
                }
            }
        }

        &.table_row_clicked {
            z-index: 31;
            position: relative;
            
            .table__item {
                &.table__item_select,
                &.table__item_relation {
                    overflow: visible;
                }
            }
        }
    }

}

tbody {
    &#clone-elem {
            position: absolute;
            top: -10000px;
            left: -10000px;
        
            .table__row_clone {
                background: variables.$color-white;
        
                .table__item {
                    width: var(--defaultWidth);
                    min-width: var(--defaultWidth);
                    background: variables.$color-white !important; 
                }
            }
    }
}


.table {
    &.table_permanent-edit {
		.table__body {
			.table__row {
				&.table__row_edit {
					background: transparent;

					.table__item {
						background: transparent;

                        &::before {
                            background: transparent !important;
                        }

                        &.table__item_sticky {
                            z-index: 40;
                            background: #f9f9fa !important;
                        }
					}
				}
			}
		}
    }
}
