@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.main-page {
	margin-top: 60px;
	grid-gap: 20px 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	& h1 {
		font-size: 35px;
		@media (max-width: 1120px) {
			text-align: center;
		}
		@media (max-width: 800px) {
			text-align: left;
		}
	}
	&__title {
		display: none;
		@media (max-width: 1120px) {
			display: block;
		}
	}
}

.main-page__checkbox {
	&.form-item__checkbox {
		width: max-content;

		input {
			pointer-events: none;
		}

		&.main-page__checkbox_long {
			align-items: flex-start;
			width: 100%;

			label {
				margin-top: 2px;
			}
		}
	}
}

.main-page__text {
	font-size: 16px;
	&.auth__subtext {
		position: relative;
		z-index: 2;
		margin-top: 16px;
		font-size: 16px;
	}
}

.main-page__link {
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
	color: variables.$color-blue-two;

	&:hover {
		text-decoration: none;
	}
}

.main-page__input {
	input {
		font-size: 16px;

		&::placeholder {
			color: variables.$color-grey;
			font-size: 13px;
		}

		/* Internet Explorer 10-11 */
		&:-ms-input-placeholder {
			font-size: 13px;
			color: variables.$color-grey;
		}

		/* Microsoft Edge */
		&::-ms-input-placeholder {
			font-size: 13px;
			color: variables.$color-grey;
		}
	}

	&.auth__input_substr {
		input {
			padding: 10px 90px 10px 15px;
		}

		.form-item__substring {
			top: 26px;
		}
	}
}

.main-page__button {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 10px;
	width: 200px;
	font-size: 16px;
	padding: 15px 20px;
	height: 45px;
	// margin: 10px auto 0 auto;

	&::before {
		content: url("/icons/arrow-right.svg");
		height: 19px;
		transition: 0.4s all;
	}

	&:hover {
		filter: brightness(0.95);

		&::before {
			transform: translateX(5px);
		}
	}

	&.button_loading {
		&::before {
			content: none;
		}
	}
}

.main-page__form {
	grid-gap: 15px 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	&-subtitle {
		font-size: 16px;
		color: #8f8f8f;
		font-weight: normal;
		margin-top: 10px;
	}
	// &-title {
	// 	@media (max-width: 1120px) {
	// 		display: none;
	// 	}
	// }
}

.main-page_gray {
	color: #616161;
}

.main-page__container {
	margin: auto 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	// @media (max-width: 1120px) {
	// 	align-items: center;
	// }
}

.main-page__actions {
	grid-column: 1/3;
	display: flex;
	gap: 20px;

	@media (max-width: 1120px) {
		justify-content: center;
	}
}

.main-page__fansy-box {
	button {
		height: 45px;
		width: max-content;
		font-size: 16px;
		padding: 10px 20px;

		&.button_blue {
			display: flex;
			align-items: center;
			gap: 10px;
			white-space: nowrap;

			&::after {
				content: url("/icons/arrow-right.svg");
				height: 16px;
				transition: 0.4s all;
			}

			&:not([disabled]) {
				&:hover {
					filter: brightness(0.95);

					&::after {
						transform: translateX(5px);
					}
				}
			}
		}

		&.fines__button {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 5px;
			background: #fff;
			border: 1px solid #2f8cff;

			span {
				display: flex;
				align-items: center;
				gap: 5px;
				white-space: nowrap;
			}

			.button-text {
				color: #1253a2;
			}

			.fines__icon {
				width: 32px;
				height: 24px;

				img {
					object-fit: contain;
				}
			}
		}
	}
}

.main-page__fansy-box {
	width: max-content;
}

.input_line {
	grid-column: 1/3;
}

.main-page__politics {
	font-size: 13px;
	color: #8f8f8f;
	grid-column: 1/3;
}

.main-page__image {
	grid-column: 2/3;
	// grid-row: 1/3;
	@include mixins.elemResolutionOptions(560px, 335px);

	img {
		object-fit: contain;
	}
}

@media (max-width: 1120px) {
	.main-page {
		margin-top: 20px;
		grid-template-columns: 1fr;

		h1 {
			font-size: 32px;
			// margin-bottom: 20px;
			span {
				margin: 0 auto;
				@media (max-width: 700px) {
					margin: unset;
				}
			}
			.menu_mobile {
				top: 10px !important;
			}
		}

		.main-page__form {
			grid-column: 1/2;
		}

		.main-page__image {
			justify-self: center;
			grid-column: 1/2;
			grid-row: 2 / 3;
		}
	}
}

@media (max-width: 600px) {
	.main-page__actions {
		gap: 15px;
		flex-direction: column;

		& > * {
			height: 45px;
		}
	}
}

@media (max-width: 620px) {
	.main-page {
		grid-template-columns: 1fr;

		.main-page__image {
			width: 100%;
			height: 230px;
		}
	}
}

@media (max-width: 460px) {
	.main-page__form {
		display: flex;
		flex-direction: column;
	}
}
