@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.nav {
	border-radius: 10px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
	border: solid 1px #eeeff1;
	background-color: #fff;
	height: max-content;
	padding-bottom: 25px;
	grid-column: 2;
	min-width: 263px;
	max-width: 263px;
	z-index: 1;
	position: sticky;
	top: 20px;
	margin-bottom: 35px;

	@media (max-width: 768px) {
		min-width: 100%;
		max-width: 100%;
		margin-bottom: 0;
	}
}

.nav__header {
	font-weight: 600;
	padding: 10px 20px;
	border-bottom: 1px solid #e2e5e9;
}
.nav__list {
	display: flex;
	flex-direction: column;
}
.nav__item {
	padding: 10px 15px;
	position: relative;

	&.nav__item_H2 {
		padding-left: 40px;
	}

	&.nav__item_H3,
	&.nav__item_H4,
	&.nav__item_H5,
	&.nav__item_H6 {
		padding-left: 80px;
	}

	&.nav__item_active {
		background: variables.$color-hover;
	}

	&.nav__item_scrolled {
		&::before {
			content: "";
			height: 100%;
			background: variables.$color-blue;
			width: 2px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}

	&:hover {
		background: variables.$color-hover;
	}
}
