.question {
	// background-color: #f7f8fa;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	&__body {
		padding: 35px 25px;
		transition: 0.3s;
	}
	&__title {
		font-size: 31px;
		color: #1253a2;
		margin-bottom: 15px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 25px;
		line-height: 1.2;
		display: flex;
		flex-direction: column;
		gap: 25px;
		& .table {
			overflow: auto;
			table {
				@media (max-width: 1024px) {
					min-width: 660px;
				}
			}
		}
		& .table-swipe {
			@media (max-width: 768px) {
				&::before {
					content: "";
					display: block;
					width: 100%;
					height: 75px;
					background-image: url("/public/icons/swipe.svg");
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		& .bold {
			font-weight: 600;
		}

		& p {
			line-height: 1.2;
		}

		& h1 {
			font-size: 31px;
			color: #1253a2;
		}
		& h2 {
			font-size: 26px;
			color: #1253a2;
		}
		h3 {
			font-size: 26px;
			color: #1253a2;
		}
		ul {
			list-style: none;
			padding-left: 0;
			li {
				text-indent: 12px;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 9px;
					left: 0;
					width: 7px;
					height: 2px;
					background-color: #000;
				}
			}
		}

		th,
		td {
			height: calc(4px * 2 + 1.5em);
			min-width: calc(8px * 2);
			padding: 4px 8px;
			border: 1px solid #e7eaec;
		}

		a {
			cursor: pointer;
			color: #1253a2;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__more {
		color: #1865c4;
		font-size: 16px;
		margin-bottom: 15px;
	}

	&__image {
		// min-height: 170px;
		object-fit: cover;
		width: 100%;
	}

	&__info {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: end;
	}
}
