.question {
	// background-color: #f7f8fa;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	&__body {
		padding: 35px 25px;
		transition: 0.3s;

		& h2 {
			font-size: 31px;
			color: #1253a2;
			margin-bottom: 15px;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 25px;
		line-height: 1.2;
	}

	&__more {
		color: #1865c4;
		font-size: 16px;
		margin-bottom: 15px;
	}

	&__image {
		max-height: 132px;
		width: 100%;
		object-fit: cover;
	}

	&__info {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: end;
	}
}
