.views {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1;
	white-space: nowrap;
	.header__views-eye {
		height: 11px;
		cursor: default;
		& path {
			stroke: #8f8f8f;
		}
		& circle {
			stroke: #8f8f8f;
		}
	}
}

.fines__button #video {
	display: none;
}

.active-bg {
	background-color: #fffbe2 !important;
}

.date {
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1;
	white-space: nowrap;
}

.duration {
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1;
	white-space: nowrap;
	&_black {
		color: #000;
	}
}
