.views {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1;
	white-space: nowrap;
	.header__views-eye {
		height: 11px;
		cursor: default;
		& path {
			stroke: #8f8f8f;
		}
		& circle {
			stroke: #8f8f8f;
		}
	}
}

.play-video {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 8px;
	background: rgb(0, 161, 231);
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	& img {
		height: calc(48px / 2) !important;
		width: calc(48px / 2) !important;
	}
}

.fancybox__content {
	width: 90% !important;
	max-width: 71vw !important;
	height: 40vw;
	& iframe {
		width: 100% !important;
		height: 100% !important;
	}
	#video {
		width: 100%;
		height: 100%;
	}
}

.fines-video {
	&__cover {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.fines__button #video {
	display: none;
}

.active-bg {
	background-color: #fffbe2 !important;
}

.date {
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1;
	white-space: nowrap;
}

.duration {
	font-size: 14px;
	color: #8f8f8f;
	line-height: 1;
	white-space: nowrap;
	&_black {
		color: #000;
	}
}
