// Шрифты
$font-size-default: 18px;
$font-size-label: 12px;
$font-size-header: 30px;
$font-size-h1: 41px;
$font-size-h2: 34px;
$font-size-h3: 18px;

// Цвета
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.5);

$color-black: #000;
$color-dark: #161616;
$color-light-black: #383838;

$color-modal-background: rgba(0,0,0,0.2);
$color-warning-background: rgba(0,0,0,0.8);

$color-red: #AD0B0A;
$color-light-red: #d11e1e;
$color-piper: #c74923;

$color-blue-grey: #a6b7d4;
$color-dark-grey: #8f8f8f;
$color-grey: #bcbcbc;
$color-light-grey: #eeeff1;
$color-pale-grey: #fbfcfd;
$color-darkest-grey: #4e4e4e;

$color-orange: #fd8301;

$color-blue-alice: #C8CEDC;
$color-blue: #0584fe;
$color-blue-two: #1253a2;
$color-light-blue: #f7fbff;
$color-blue-three: #1f344a;

$color-active: $color-blue-two;
$color-hover: #eef3f8;
$color-row-edit: #D9E4F0;

$color-light-yellow: #fffbe2;

$block-base-padding: 15px 15px 25px 15px;
