@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.warning__text_error {
    text-align: center;
    color: variables.$color-red;
}

.warning__actions {
    .button-details {
        min-width: 200px;

        .button-details__popup {
            height: 45px;

            .popup__content {
                top: 50px;
                bottom: auto;
            }
        }
        
        .button_blue {
            width: 100%;
        }

        .warning__text {
            margin-bottom: 0px;

            .warning__text_green {
                color: #8ed699;
            }
        }
    }
}

@media (max-width: 940px) {
    .warning__actions {
        display: flex;
        flex-direction: column;

        a, button {
            width: 100%;
        }

        .button-details {
            width: 100%;

            .button_blue {
                width: 100%;
            }
        }
    }
}