.questions {
	display: flex;
	gap: 34px;
	@media (max-width: 1024px) {
		flex-direction: column;
	}
	&__left {
		max-width: 263px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 35px;
		@media (max-width: 1024px) {
			max-width: 100%;
		}
	}
	&__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
