.steps {
	margin-top: 85px;
	position: relative;
	z-index: 0;
	padding: 42px 0 !important;
	&__top {
		max-width: 857px;
		margin-bottom: 25px;
	}
	&__title {
		font-size: 31px;
		margin-bottom: 30px;
	}
	&__subtitle {
		font-size: 21px;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 16px;
		&_margin {
			margin-bottom: 5px;
		}
	}
	&__video {
		margin-top: 25px;
		position: relative;
		cursor: pointer;
		background-color: #852929;
		width: 263px;
		height: 148px;
		border-radius: 5px;
		overflow: hidden;
		&-play {
			width: 47.8px;
			height: 33.5px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&-wrapper {
			& #video {
				display: none;
			}
		}
	}
}
