.steps {
	margin-top: 85px;
	position: relative;
	z-index: 0;
	padding: 42px 0 !important;
	&__top {
		max-width: 857px;
		margin-bottom: 25px;
	}
	&__title {
		font-size: 31px;
		margin-bottom: 30px;
	}
	&__subtitle {
		font-size: 21px;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 16px;
		&_margin {
			margin-bottom: 5px;
		}
	}
	&__video {
		margin-top: 25px;
		position: relative;
		cursor: pointer;
		background-image: image-set(url("https://pic.rutube.ru/video/2024-10-26/16/d2/16d21bc2c077e4b0ae3a2041d9b987f4.jpg?width=980"));
		background-size: cover;
		width: 263px;
		height: 148px;
		border-radius: 5px;
		overflow: hidden;
		&-play {
			width: 48px;
			height: 48px;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 8px;
			background: rgb(0, 161, 231);
			transform: translate(-50%, -50%);
			display: flex;
			align-items: center;
			justify-content: center;
			& img {
				height: calc(48px / 2) !important;
				width: calc(48px / 2) !important;
			}
		}
		&-wrapper {
			& #video {
				display: none;
			}
		}
	}
}
