@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.filter__fields {
    gap: 15px;
    display: flex;
    grid-row: 1/2;
    flex-direction: column;
    margin: 15px 0px;
    @include mixins.scrollBar();
    overflow: auto;
    max-height: 100vh;


    &.filter__fields_empty {
        align-items: center;
        color: variables.$color-blue-grey;
    }

    &.filter__fields_dragging {
        .icon__draggable, 
        .icon__settings {
            opacity: 0 !important;
        }
    }

    &.clone-elem {
        background: variables.$color-white;
    }
}

.filter__field {
    padding: 0px 15px;
    position: relative;
    @include mixins.sortableGhost();

    &.sortable-ghost {
        height: 40px;
    }

    &:hover {
        .icon__draggable, 
        .icon__settings {
            opacity: 1;
        }
    }

    .icon__draggable {
        opacity: 0;
        left: 2px;
    }

    .icon__settings {
        opacity: 0;
    }

    .popup {
        position: absolute;
        top: 0px;
        right: 12px;

        .icon__settings {
            svg {
                @include mixins.elemResolutionOptions(12px, 12px);
            }
        }

        &.status__popup, &.select__popup {
            position: relative;
            right: auto;
            top: auto;
        }

        &.autocomplete__popup {
            position: relative;
            right: auto;
            top: auto;
        }
    }

    .form__item  {
        .form-item__title {
            color: variables.$color-black;
    
            &::after {
                content: none;
            }
        }
    }
}