@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.pluses {
    margin-top: 85px;

    h2 {
        text-align: center;
    }
}

.pluses__list {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 35px;
}

.pluses__item {
    grid-gap: 10px 15px;
    display: grid;
    align-content: center;
    grid-template-columns: 60px 1fr;
    border-radius: 10px;
    padding: 20px 25px;
    background: #fbfcfd;
    border: 1px solid #eeeff1;
    transition: 0.2s all;

    &:hover {
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    }
}

.pluses__icon {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    @include mixins.elemResolutionOptions(60px, 60px);

    img {
        object-fit: contain;
    }
}

.pluses__title {
    grid-column: 2/3;
    font-weight: 600;
    color: #1253a2;
}

.pluses__desc {
    grid-column: 2/3;
    font-size: 15px;
}

@media (max-width: 1020px) {
    .pluses__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 770px) {
    .pluses__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 520px) {
    .pluses {
        margin-top: 70px;
    }
}