@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.breadcrambs {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.breadcrambs__item {
	display: inline-block;
	gap: 5px;
	color: #383838;
	flex-wrap: wrap;
	max-width: 460px; /* Устанавливает максимальную ширину блока */
	white-space: nowrap; /* Отключает перенос строк */
	overflow: hidden; /* Обрезает текст, выходящий за границы */
	text-overflow: ellipsis; /* Добавляет троеточие */
	cursor: pointer;

	&:last-child {
		cursor: default;
	}

	a {
		margin-right: 5px;
	}

	&:not(:last-child)::after {
		content: "•";
		color: #383838;
	}

	&:last-child {
		a {
			color: #8f8f8f;
			pointer-events: none;
		}
	}
}

// @media (max-width: 700px) {
// 	.breadcrambs {
// 		margin-left: 25px;
// 	}
// }
