.articles {
	display: flex;
	gap: 34px;
	padding-bottom: 100px;
	@media (max-width: 900px) {
		flex-direction: column;
	}
	&__left {
		max-width: 263px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 35px;
		@media (max-width: 900px) {
			max-width: 100%;
		}
	}
	&__right {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
