@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.slider {
	// overflow: unset !important;
	padding: 0 10px !important;
	padding-top: 15px !important;
	.swiper-button-disabled {
		pointer-events: all !important;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: calc(50% - 7.5px) !important;
	}

	.swiper-wrapper {
		padding-bottom: 30px;
	}

	.swiper-slide {
		// opacity: 0;
		// padding-right: 25px;

		&.swiper-slide-visible {
			opacity: 1;
		}
	}

	&.swiper-slider_only {
		.swiper-slide {
			padding-right: 0px;
		}
	}

	.swiper-button-next {
		will-change: opacity;
		transform: translateX(3px);
		right: 20px;
		&::after {
			content: url("/images/icons/scrollButtonRight.svg");
		}
	}

	.swiper-button-prev {
		will-change: opacity;
		transform: translateX(-3px);
		left: 20px;
		&::after {
			content: url("/images/icons/scrollButtonLeft.svg");
		}
	}
}
