@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.slider {
	// max-width: 90vw;
	// padding-left: 25px !important;
	overflow: unset !important;
	.swiper-button-disabled {
		opacity: 0 !important;
	}

	// .swiper-button-next,
	// .swiper-button-prev {
	// 	top: calc(50% - 5px) !important;
	// }

	.swiper-pagination-bullets {
		bottom: -24px !important;
	}

	.swiper-wrapper {
		margin-bottom: 30px;
	}

	.swiper-slide {
		opacity: 0;
		// padding-right: 25px;

		&.swiper-slide-visible {
			opacity: 1;
		}
	}

	&.swiper-slider_only {
		.swiper-slide {
			padding-right: 0px;
		}
	}

	.swiper-button-next {
		will-change: opacity;
		transform: translateX(3px);
		&::after {
			content: url("/icons/scrollButtonRight.svg");
		}
	}

	.swiper-button-prev {
		will-change: opacity;
		transform: translateX(-3px);
		&::after {
			content: url("/icons/scrollButtonLeft.svg");
		}
	}
}
