@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.pluses-fines {
    margin: 150px 0px 100px;

    h2 {
        text-align: center;
        max-width: 35vw;
        margin: 0 auto 45px;
    }
}

.pluses-fines__list {
    gap: 35px;
    display: grid;
    margin-bottom: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.pluses-fines__item {
    border-radius: 10px;
    background: #fbfcfd;
    border: 1px solid #eeeff1;
    transition: 0.2s all;
    padding: 30px 25px;
    position: relative;
    font-size: 25px;
    overflow: hidden;

    &:hover {
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background-color: #1253a2;
    }
}

.pluses__actions {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        font-size: 16px;
        padding: 15px 20px;
    }
}

@media (max-width: 1400px) {
    .pluses-fines {
        h2 {
            max-width: 55vw;
        }
    }
}

@media (max-width: 900px) {
    .pluses-fines {
        h2 {
            max-width: 75vw;
        }
    }
}

@media (max-width: 770px) {
    .pluses-fines__list {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 660px) {
    .pluses-fines {
        h2 {
            max-width: none;
        }
    }
}


@media (max-width: 520px) {
    .pluses-fines {
        margin-top: 70px;
    }
}