@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.fines {
	margin-top: 60px;
	grid-gap: 20px 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.fines__form {
	grid-gap: 15px 30px;
	grid-column: 1/2;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.fines__actions {
	grid-column: 1/3;
	display: flex;
	gap: 20px;

	button {
		height: 45px;
		width: max-content;
		font-size: 16px;
		padding: 10px 20px;

		&.button_blue {
			display: flex;
			align-items: center;
			gap: 10px;
			white-space: nowrap;

			&::after {
				content: url("/icons/arrow-right.svg");
				height: 14px;
				transition: 0.4s all;
			}

			&:not([disabled]) {
				&:hover {
					filter: brightness(0.95);

					&::after {
						transform: translateX(5px);
					}
				}
			}
		}

		&.fines__button {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 5px;
			background: #fff;
			border: 1px solid #2f8cff;

			span {
				display: flex;
				align-items: center;
				gap: 5px;
				white-space: nowrap;
			}

			.button-text {
				color: #1253a2;
			}

			.fines__icon {
				width: 32px;
				height: 24px;

				img {
					object-fit: contain;
				}
			}
		}
	}
}

.fines__fansy-box {
	width: max-content;
}

.input_line {
	grid-column: 1/3;
}

.fines__politics {
	font-size: 13px;
	color: #8f8f8f;
	grid-column: 1/3;
}

.fines__image {
	grid-column: 2/3;
	grid-row: 1/3;
	@include mixins.elemResolutionOptions(560px, 335px);

	img {
		object-fit: contain;
	}
}

@media (max-width: 1120px) {
	.fines {
		margin-top: 20px;
		grid-template-columns: 1fr;

		h1 {
			text-align: center;
			font-size: 32px;
			margin-bottom: 20px;
			.menu_mobile {
				top: 10px !important;
			}
		}

		.fines__form {
			grid-column: 1/2;
		}

		.fines__image {
			justify-self: center;
			grid-column: 1/2;
			grid-row: 2 / 3;
		}
	}
}

@media (max-width: 600px) {
	.fines__actions {
		gap: 15px;
		flex-direction: column;

		& > * {
			height: 45px;
		}
	}
}

@media (max-width: 620px) {
	.fines {
		grid-template-columns: 1fr;

		.fines__image {
			width: 100%;
			height: 230px;
		}
	}
}

@media (max-width: 460px) {
	.fines__form {
		display: flex;
		flex-direction: column;
	}
}
