@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.programm-full {
	padding: 42px 0 !important;
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 630px;

	.programm-full__link {
		display: inline-block;
	}

	.section__image {
		right: -25px;
		top: -50px;
	}

	button {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 15px 20px;

		&::after {
			content: url("/icons/arrow-right.svg");
			height: 14px;
			transition: 0.4s all;
			display: flex;
			align-items: center;
		}

		&:hover {
			&::after {
				transform: translateX(5px);
			}
		}
	}
}

.programm-full__top {
	grid-column: span 2;
}
.programm-full__title {
	color: variables.$color-light-black;
	margin-bottom: 15px;
	font-size: 31px;
}

.programm-full__desc {
	line-height: 1.2;
	margin-bottom: 45px;
	max-width: 858px;
}

.programm-full__left {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.programm-full__advantages {
	display: flex;
	flex-direction: column;
	gap: 15px;
	// &-wrapper {
	// 	display: flex;
	// 	justify-content: space-between;
	// }
}

.programm-full__advantage {
	display: flex;
	align-items: center;
	gap: 15px;
	&-text {
		line-height: 1;
	}
}

.programm-full__checkmark {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	min-height: 20px;
	border-radius: 5px;
	.programm-full__checkmark-image {
		width: 13px;
		height: 8.5px;
	}
}

.programm-full__image {
	grid-column: 2;
	margin-top: -30px;
	@include mixins.elemResolutionOptions(630px, unset);
	img {
		object-fit: contain;
	}
}

@media (max-width: 1080px) {
	.programm-full__image {
		@include mixins.elemResolutionOptions(540px, unset);
	}
	.programm-full {
		grid-template-columns: 1fr 540px;
	}

	.programm-full {
		.section__image {
			top: 0px;
			margin-top: 0;
		}

		.section__content {
			max-width: none;
		}

		.section__info {
			max-width: calc(100% - 500px);
		}
	}
}

@media (max-width: 1010px) {
	.programm-full {
		grid-template-columns: 1fr;
	}

	.programm-full__top {
		grid-column: 1;
	}

	.programm-full__image {
		grid-column: 1;
		grid-row: 1;
		margin-top: 0;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.programm-full {
		.section__info {
			max-width: none;
		}
	}
}

@media (max-width: 600px) {
	.programm-full__image {
		width: 100%;
		height: unset;
	}
}

@media (max-width: 380px) {
	.programm-full__image {
		width: 100%;
		height: unset;
	}
}
