.distance {
	display: flex;
	flex-direction: column;
	// gap: 45px;
	&__links {
		display: flex;
		gap: 25px;
		font-size: 15px;
		font-weight: 600;
		padding: 15px 0;
		@media (max-width: 650px) {
			order: -2;
			padding-bottom: 20px;
			padding-top: 0;
		}
	}
	&__link {
		&.active {
			color: #1253a2;
		}
	}
	&__line {
		width: 100%;
		height: 1px;
		background-image: linear-gradient(to right, #c8c8c8 0%, #fbfcfd 101%);
		@media (max-width: 650px) {
			display: none;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		gap: 10px;
		@media (max-width: 650px) {
			order: -1;
			padding-bottom: 20px;
		}
	}
	&__menu {
		@media (max-width: 750px) {
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			display: block !important;
		}
	}
	&__breadcrambs {
		margin-bottom: 5px;
		margin-left: 0;
		@media (max-width: 650px) {
			padding-bottom: 20px;
		}
	}
	&__title {
		font-size: 31px;
		font-weight: bold;
		line-height: 1;
		&_padding {
			padding: 25px 0;
		}
		@media (max-width: 650px) {
			padding: 0;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 263px;
		column-gap: 34px;
		row-gap: 20px;
		padding: 45px 0;
		@media (max-width: 1024px) {
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}
	&__counter {
		@media (max-width: 1024px) {
			width: 100%;
			grid-row: 2;
			align-self: end;
		}
	}
	&__map {
		display: contents;
	}
	&__social {
		margin-top: 100px;
	}
}

.map .map__link {
	display: none;
}

// .menu.menu_mobile {
// 	display: none;
// }
