.distance {
	display: flex;
	flex-direction: column;
	gap: 45px;
	&__links {
		display: flex;
		gap: 25px;
		font-size: 14px;
		font-weight: 600;
		padding: 15px 0;
	}
	&__link {
		&.active {
			color: #1253a2;
		}
	}
	&__line {
		width: 100%;
		height: 1px;
		background-image: linear-gradient(to right, #c8c8c8 0%, #fbfcfd 101%);
	}
	&__title {
		font-size: 31px;
		font-weight: bold;
		padding: 25px 0;
		line-height: 1;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 263px;
		column-gap: 34px;
		row-gap: 20px;
	}
	&__map {
		gap: 20px;
	}
}
