.guide__item {
	display: flex;
	// min-height: 379px;
	width: 100%;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	border: solid 1px #eeeff1;
	cursor: pointer;
	transition: 0.1s ease-in;
	&:hover {
		border-color: #2f8cff;
		box-shadow: 0 0 3px 0 #1253a2, inset 0 1px 2px 0 rgba(255, 255, 255, 0.5) !important;
	}
}

.guide__top {
	background-color: #fbfcfd;
	// height: 263px;
	height: 149px;
	width: 100%;
	background-color: #f0f4fb;
}

.guide__video {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.guide__icon {
	width: 100%;
	height: 100%;
	position: relative;
	top: -1.5px;
	object-fit: cover;
}

.guide__body {
	padding: 15px;
	background-color: #fbfcfd;
	position: relative;
	min-height: 110px;
}

.guide__title {
	font-size: 16px;
	color: #1253a2;
	font-weight: 700;
	line-height: 1.2;
	display: -webkit-box;
	-webkit-line-clamp: 3; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.guide__subtitle {
	font-size: 16px;
	line-height: 1.2;
	display: -webkit-box;
	-webkit-line-clamp: 2; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.guide-slder__views {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	color: #8f8f8f;
	& span {
		line-height: 1;
	}
}

.guide-slder__date {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 14px;
	height: 17px;
	color: #8f8f8f;
}
