@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.warning {
	z-index: 1900;
	position: fixed;
	@include mixins.elemPositionOptions(0px, 0px);
	@include mixins.elemResolutionOptions(100%, 100%);

	&.warning_disabled-select {
		* {
			@include mixins.userSelect(none);
		}
	}
}

.warning__list {
	& > * {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.warning__background {
	z-index: 5;
	display: grid;
	position: fixed;
	overflow: auto;
	padding: 100px 0;
	place-items: center;
	background: rgba(0, 0, 0, 0.8);
	@include mixins.elemResolutionOptions(100%, 100%);
	@include mixins.elemPositionOptions(0px, 0px);
}

.warning__content {
	z-index: 2;
	width: 31.5%;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	padding: 25px 35px;
	background: variables.$color-white;
}

.warning__close {
	&.icon__delete {
		top: 10px;
		right: 10px;
		cursor: pointer;
		position: absolute;
		@include mixins.elemResolutionOptions(16px, 16px);

		svg {
			* {
				fill: variables.$color-grey;
			}
		}

		&:hover {
			svg {
				* {
					fill: variables.$color-active;
				}
			}
		}
	}
}

.warning-list__field-error {
	margin-top: 5px;
	color: variables.$color-red;
	font-size: variables.$font-size-label;
}

.warning__title {
	text-align: center;
	margin-bottom: 25px;
}

.section__table {
	.warning__body {
		& > * {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}

.warning__text {
	text-align: center;
	margin-bottom: 10px;
}

.warning__actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 20px;

	button {
		height: 45px;
		width: 140px;
	}
}

@media (max-width: 1680px) {
	.warning__content {
		width: 40%;
	}
}

@media (max-width: 1200px) {
	.warning__content {
		width: 50%;
	}
}

@media (max-width: 720px) {
	.warning__content {
		width: 60%;
	}
}

@media (max-width: 560px) {
	.warning__content {
		width: 80%;
	}

	.warning__actions {
		flex-direction: column;

		button {
			width: 100%;
		}
	}
}

@media (max-width: 360px) {
	.warning__content {
		width: 90%;
	}

	.warning__subtitle {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.warning__list {
		& > * {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	.warning-list__field-error {
		font-size: 12px;
		color: variables.$color-red;
		margin-top: 5px;
	}

	.warning__progress {
		font-size: 16px;
		color: variables.$color-dark-grey;
	}
}
