.about {
	position: relative;
	z-index: 0;
	padding: 42px 35px !important;
	background-color: #f7f8fa !important;
	border-radius: 10px;
	&__title {
		font-size: 31px;
		line-height: 1;
		margin-bottom: 20px;
	}
	&__subtitle {
		font-size: 21px;
		line-height: 1;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 16px;
		line-height: 1.19;
		&_bold {
			font-weight: 600;
		}
	}
	&__list {
		list-style: none;
		padding-left: 0;
		&-item {
			text-indent: 12px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 9px;
				left: 0;
				width: 7px;
				height: 2px;
				background-color: #000;
			}
		}
	}
	&__block {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
