@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.main__auth {
	font-family: sans-serif;
	font-weight: 400;
	padding: 0px;
}

// .page {
// &.page_auth {
//     .main {
//         .container {
//             padding: 0px;
//             max-width: none;
//             width: 100%;
//             margin: 0;
//         }
//     }
// }
// }

.auth {
	.form-item__title {
		color: variables.$color-dark-grey;
	}

	&.auth_disabled {
		opacity: 0;
	}
}

.auth__header {
	height: 60px;
	width: 100%;
	display: grid;
	place-items: center;
	background: radial-gradient(circle at 93% 25%, #1c2734 29%, black 100%);
}

.auth__title {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 25px;
	text-align: center;
	color: variables.$color-light-black;
	word-break: break-word;
	max-width: 100%;

	.auth__title-portal__name {
		display: block;
	}
}

.auth__main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// position: relative;
	margin: 112px auto 100px auto;
}

.auth__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	width: 100%;
}

.auth__background {
	bottom: 102px;
	height: 60vh;
	opacity: 0.3;
	position: absolute;
	top: 56px;
	width: 100%;
	left: 0;
	right: 0;

	img {
		pointer-events: none;
		object-fit: contain;
	}
}

.container {
	position: relative;
}

.auth__form {
	width: 440px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: relative;
	z-index: 2;
	padding: 35px;
	border-radius: 10px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
	border: solid 1px variables.$color-light-grey;
	// background-color: variables.$color-pale-grey;
	@media (max-width: 700px) {
		margin-left: 25px;
	}
}

.auth__logo {
	@include mixins.elemResolutionOptions(130px, 25px);
}

.auth__input {
	width: 365px;

	input {
		font-size: 16px;

		&::placeholder {
			color: variables.$color-grey;
			font-size: 13px;
		}

		/* Internet Explorer 10-11 */
		&:-ms-input-placeholder {
			font-size: 13px;
			color: variables.$color-grey;
		}

		/* Microsoft Edge */
		&::-ms-input-placeholder {
			font-size: 13px;
			color: variables.$color-grey;
		}
	}

	&.auth__input_substr {
		input {
			padding: 10px 90px 10px 15px;
		}

		.form-item__substring {
			top: 26px;
		}
	}
}

.auth__checkbox {
	&.form-item__checkbox {
		width: max-content;

		&.auth__checkbox_long {
			align-items: flex-start;
			width: 100%;

			label {
				margin-top: 2px;
			}
		}
	}
}

.auth__button {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 10px;
	width: 260px;
	font-size: 16px;
	padding: 15px 20px;
	margin: 10px auto 0 auto;

	&::before {
		content: url("/icons/arrow-right.svg");
		height: 19px;
		transition: 0.4s all;
	}

	&:hover {
		filter: brightness(0.95);

		&::before {
			transform: translateX(5px);
		}
	}

	&.button_loading {
		&::before {
			content: none;
		}
	}
}

.auth__error {
	text-align: center;
	color: variables.$color-light-red;
}

.page:has(.auth) {
	grid-template-rows: unset;
}
.container:has(.auth) {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.auth__text {
	font-size: 16px;
	&.auth__subtext {
		position: relative;
		z-index: 2;
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 16px;
	}
	&.auth__bottomtext {
		margin: auto auto 0 auto;
	}
}

.auth__link {
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
	color: variables.$color-blue-two;

	&:hover {
		text-decoration: none;
	}
}

@media (max-width: 1400px) {
	.auth__main {
		max-width: 960px;
	}
}

@media (max-width: 1326px) {
	.auth__main {
		margin: 56px auto 0 auto;
	}
}

@media (max-width: 550px) {
	.auth__title {
		font-size: 30px;
		& .h1_mobileMenu__text {
			margin: 0;
		}
	}

	.auth__main {
		padding: 0 10px;
	}

	.auth__input {
		width: 100%;
	}

	.auth__form {
		width: 100%;
		margin-left: 0;
	}

	.auth__button {
		width: 100%;
	}
}
