@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.contacts__map {
	margin: 60px 0px 125px;

	.section__image {
		height: 361px;
		border-radius: 20px;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
		top: -45px;
	}

	.section__content {
		@media (max-width: 1010px) {
			max-width: 100%;
		}
	}

	.section__info {
		@media (max-width: 1010px) {
			max-width: 100%;
		}
	}
}

.contacts-map__list {
	gap: 15px;
	display: flex;
	flex-direction: column;
}

.contacts-map__title {
	color: #8f8f8f;
}
.contacts-map__desc {
	font-weight: 600;
	font-size: 25px;
	color: #383838;
}

.contacts-requisites {
	h2 {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 25px;
		flex-wrap: wrap;
	}

	margin-bottom: 100px;
}

.contacts-requisites__list {
	display: grid;
	grid-gap: 25px 55px;
	grid-template-columns: repeat(3, 1fr);
}

.contacts-requisites__link {
	width: 120px;
}
.contacts-requisites__title {
	color: #8f8f8f;
}
.contacts-requisites__text {
	font-size: 21px;
	color: #383838;
}
.contacts-requisites__document {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	@include mixins.elemResolutionOptions(23px, 27px);

	img {
		position: relative;
	}

	&:hover {
		.contacts-requisites__document-text {
			text-decoration: none;
		}
	}
}
.contacts-requisites__document-text {
	font-weight: normal;
	font-size: 16px;
	color: #1253a2;
	text-decoration: underline;
	line-height: 1;
}

@media (max-width: 1010px) {
	.contacts__map {
		margin: 30px 0px 60px;
	}
}

@media (max-width: 900px) {
	.contacts-requisites__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.contacts-requisites__list {
		grid-gap: 15px 55px;
		grid-template-columns: repeat(1, 1fr);
	}

	.contacts-requisites {
		margin-bottom: 60px;
	}

	.contacts-map__title,
	.contacts-requisites__title {
		font-size: 15px;
	}

	.contacts-map__desc {
		font-size: 21px;
	}

	.contacts-requisites__text {
		font-size: 16px;
	}
}
