@use "@/assets/variables.scss" as variables;
@use "@/assets/mixins.scss" as mixins;

.questions-block {
	display: none;
	margin-top: 85px;

	h2 {
		text-align: center;
		margin-bottom: 20px;
		color: #383838;
	}
}
