.questions__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 500px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.questions__list-pagination {
	margin-top: 25px;
}
