.question__item {
	display: flex;
	height: 280px;
	width: 100%;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	border: solid 1px #eeeff1;
	cursor: pointer;
	transition: 0.1s ease-in;
	&:hover {
		border-color: #2f8cff;
		box-shadow: 0 0 3px 0 #1253a2, inset 0 1px 2px 0 rgba(255, 255, 255, 0.5) !important;
	}
}

.question__top {
	background-color: #fbfcfd;
	height: 80px;
	width: 100%;
	background-color: #f0f4fb;
}

.question__icon {
	width: 100%;
	height: 100%;
}

.question__body {
	padding: 15px 15px 15px 15px;
	height: 100%;
	background-color: #fbfcfd;
	position: relative;
	display: flex;
	flex-direction: column;
}

.question__title {
	font-size: 16px;
	color: #1253a2;
	font-weight: 700;
	margin-bottom: 10px;
	line-height: 1.2;
}
.question__subtitle {
	font-size: 16px;
	line-height: 1.2;
	display: -webkit-box;
	-webkit-line-clamp: 4; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.question__info {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
