@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__item {
    .popup_actions {
        width: max-content;
        
        .popup__summary {
            padding: 0px 10px;
        }

        .popup__content {
            right: auto;
            left: 0px;
    
            .popup-option {
                &.popup-option__sublink {
                    &.popup-option__sublink_back {
                        flex-direction: row;
                        justify-content: flex-start;
                    }
                }
    
                &.action_red {
                    color: variables.$color-red;
                }
            }
        }

        &.popup_right {
            .popup__content {
                left: auto;
                right: 0px;
            }
        }
    }

    &.table__item_actions  {
        &.table__item_clicked {
            z-index: 35;
            overflow: visible;
        }
    }
}

.form__item .popup_actions .popup__content .popup__option.action_red {
    color: variables.$color-red;
}

.section__table_uncopy {
    .popup-option {
        &.popup-option__sublink {
            &.action_copy {
                display: none;
            }
        }
    }

    .action-button_restore {
        display: none;
    }
}